.section { height: 450px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8);}

#first { background: url(texture-noise.png) }
#second { background: url(tacotruck.jpg) 50% 0 no-repeat fixed; }

#first .bicycler { padding: 0; margin: 0; overflow: auto; position: absolute; margin: 0 auto; -webkit-transition: all 1s; -webkit-animation: cyclist 10s infinite linear;}
#first article { width: 100%; top: 0px; position: absolute; text-align: center; }

#second { padding: 50px 0; height: 750px !important; }
#second article { background: #fafafa; color: #000; width: 550px; margin-left: 100px; padding: 20px; line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }

#third article {  background-color: #333; color: #fff; padding: 10px 20px; margin: 100px 0 0 60%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }


html {
  margin: 0; padding: 0; 
  -webkit-font-smoothing: antialiased;
}

img { border: none; margin: 10px 0px }

body { 
  margin: 0; padding: 0;
  background: #F0F1EB;
  color:#444;
  font:14px/26px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color:#111;
  line-height:1.5em;
}

a {
  text-decoration:none;
  color: #51483D;
  border-bottom: 1px solid #ccc;
  padding: 0 0 1px 0;
}

a:hover {
  color: #000;
  border-bottom: 1px solid #999;
}


p { margin: 0 0 10px 0; }
p.info {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}


h1, h2, h3, h4, h5, h6 { padding: 10px 0 5px 0; }
h3, h4, h5, h6 { padding-top: 20px; }

/* Title */
h1 {
  padding: 0 0 10px 0; margin: 0;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 35px;
  line-height: 40px;
}
h2 { font-size: 120%; }

#document h1 {
  counter-reset: sub-section;
  font-size: 30px;
}
#document h2 {
  counter-reset: composite;
}

#document h1,
#document h2,
#document h3,
#document h4,
#document h5 {
  font-weight: normal;
  padding: 0;
  line-height: 1.6em;
}
#document .edit h1,
#document .edit h2,
#document .edit h3 {
  padding-top: 10px;
  margin-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#document h2 {
  font-size: 20px;
}
#document h3 {
  font-size: 16px;
}
.content-node.selected.text > .operations {
  background: #459fc9;
}
#document .content-node.text .content {
  padding: 10px 0;
}
.content-node.text > .content {
  margin: 0 100px;
}
code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  padding: 0px 3px;
  background: white;
  border: 1px solid #DDD;
  zoom: 1;
}
#document strong,
#document b {
  font-weight: bold;
}
#document em,
#document i {
  font-style: italic;
}
#document p {
  margin-bottom: 20px;
  min-height: 22px;
}
#document ol {
  padding-left: 20px;
  margin-bottom: 10px;
}
#document ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

rect {
  fill: none;
  pointer-events: all;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

circle {
  stroke:#000000;
  stroke-width:0.88133264px;
}

#info {
  color: black;
  text-align: center;
  opacity: 0.95;
  padding: 5px;
  font-size: 20px;
  position: relative;
  background: white;
  width: 50%;
  margin: 40px auto;
}

.skewed {
  width: 100%;
  margin: 0;
  text-align: center;
  display: inline-block;
  color: #fff;
  font: 900 10em "lato";
  letter-spacing: -2px;
  text-transform: uppercase;
  position: relative;                  
  -webkit-transform: rotate(7deg) skew(7deg, 0);
     -moz-transform: rotate(7deg) skew(7deg, 0);
      -ms-transform: rotate(7deg) skew(7deg, 0);
       -o-transform: rotate(7deg) skew(7deg, 0);
          transform: rotate(7deg) skew(7deg, 0);
}

.skewed:after {
  border-radius: .25em 0 0 .25em;
  left: -2.5em;
}
.skewed:before {
  border-radius: 0 .25em .25em 0;
  right: -2.5em;
}

.skewed span {
  position: relative;
  text-shadow: 1px 2px 0 #666,
               2px 3px 0 #888;
  text-transform: uppercase;
}

.protip { font-style: italic; font-size: 14px; }

@-webkit-keyframes spinanimation {
  0% {
    -webkit-transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}

@-webkit-keyframes cyclist {
  0% {
    height: 400px;
    right: 100%;
  }
  50% {
    height: 100px;
    right: 50%;
  }
  100% {
    height: 400px;
    right: -20%;
  }
}

#sponsors {
  -webkit-perspective: 800; 
  -webkit-perspective-origin: 50% 30%;
  overflow: hidden;
}

.perspective {
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spinanimation 10s infinite linear;
  position: relative;
  margin: 0 auto;
}

img {
  -webkit-backface-visibility: visible;
  -webkit-transition: all .4s;
}